
.calculator {
    background-color: #FFF;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 35px;
}

.calculator .gender {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.calculator .gender .genderImages {
    display: flex;
    gap: 50px;
}
.calculator .gender .icon{
    padding: 10px;
    border: 1px solid #CCC;
    
}

.calculator input {
    width: 100%;
}

.calculator .input-title--details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.calculator .input-details {
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .calculator{
        height: 50vh;
        width: 100vw;
        padding: 0 25px;
    }
    .calculator .input-title--details {
        margin-top: 20px;
    }

    .calculator .gender {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}