
.calculator {
    background-color: #FFF;
    height: 550px;
    padding: 70px 200px;
}

.calculator .gender {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.calculator .gender .genderImages {
    display: flex;
    gap: 50px;
}
.calculator .gender .icon{
    padding: 10px;
    border: 1px solid #CCC;
}

.calculator input {
    width: 100%;
}

.calculator .input-title--details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.calculator .input-details {
    display: flex;
    justify-content: space-between;
}